<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}/index.html">Home</a></li>
    <!--
    <li class="nav-aci" role="menuitem"><a href="{{site.baseurl}}tag/aci/">ACI</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    -->
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}/about/">About</a></li>
    <!--

    Should be able to add in other classes such as references to tags - for example "getting started" links to posts tagged with getting started

    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li>
  -->
</ul>
